@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-raleway), sans-serif;
  background-image: url('../../public/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-instrument-serif), serif;
}
